---
---
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <title>Distributed Memes For Byzantine Teens</title>
  </head>
  <body>
    <header class="sticky">
  <a href="#" class="logo">Distributed Memes For Byzantine Teens</a>
  <a href="https://github.com/readevalprint/DistributedMemesForByzantineTeens.com" >on Github</a>
  </header>
    <div class="container">
      {% capture data %}{% include_relative README.md %}
      {% endcapture %}{{ data | escape_once| markdownify }}
    <div class="row">
      {% for post in site.static_files | sample: site.static_files.size %}
      {% if post.path contains '/data/' %}
        <div class="card">
          <figure>
            <img height=200 class="lazy section media" data-src="{{ post.path }}" />
            <figcaption>{{ post.path | replace: '/data/' , '' | uri_escape| replace: '.png' '' }}</figcaption>
          </figure>
        </div>        
      {% endif %}
      {% endfor %}
    </div>
    <footer class="sticky">
      <p>An Experement by <a href="https://readevalprint.com">ReadEvalPrint</a></p>
  </footer>
    </div>
    <script>
    (function(w, d){
    var b = d.getElementsByTagName('body')[0];
    var s = d.createElement("script"); 
    var v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0";
    s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
    s.src = "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" + v + "/dist/lazyload.min.js";
    w.lazyLoadOptions = {/* Your options here */};
    b.appendChild(s);
}(window, document));
    </script>
  </body>
</html>
